body{
	background-image: url("/var/www/html/formularios/uno.jpg");
	 background-repeat: no-repeat;
    background-position: center;
margin-top: 500px;
	
	 margin-left: 400px;


    
}

#dos{
	margin-top: 800px;
	position: relative;
}
