body{
	background-image: url("/var/www/html/formularios/uno.jpg");
	 background-repeat: no-repeat;
    background-position: center;
margin-top: 500px;
	
	 margin-left: 400px;


    
}

#dos{
	margin-left: 300px;
	position: all;
	margin-bottom: 20px;
	margin top: -100px;
}
